:root {
    /*цвета*/
    --dark-grey: #333333;
    --points-price-green: #008641;
    --main-orange: #EB560C;
    --header1-text: #999999;
   
}

/*шрифты*/
@font-face {
  font-family: "Museo_sans";
  src:
    url("/fonts/Museo_Sans_Cyrl_900.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica_regular";
  src:
    url("/fonts/Helvetica/helvetica_regular.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica_bold";
  src:
    url("/fonts/Helvetica/helvetica_bold.otf") format("opentype");
}

* {
    margin: 0; /*общее свойство для удаления margin*/
    font-size: 14px;
    font-family: Helvetica_regular;
}