:root {
    /*цвета*/
    --dark-grey: #333333;
    --points-price-green: #008641;
    --main-orange: #EB560C;
    --header1-text: #999999;
    --highlight-grey: #EEEEEE;
    --button-grey: #747474;
    --very-highlight-grey: #F6F6F6;
    --icon-grey: #777777;
    --header-icon-gray: #808080;
    --grey-banner: #F5F5F7;
}

/*шрифты*/
@font-face {
  font-family: "Museo_sans";
  src:
    url("/fonts/Museo_Sans_Cyrl_900.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica_regular";
  src:
    url("/fonts/Helvetica/helvetica_regular.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica_bold";
  src:
    url("/fonts/Helvetica/helvetica_bold.otf") format("opentype");
}

* {
    margin: 0; /*общее свойство для удаления margin*/
    font-size: 14px;
    font-family: Helvetica_regular;
}
a{
  text-decoration: none;
}

/*---------------------------------------Header blocks------------------------------------------*/
/*Header 1*/
.header_block1 {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--header1-text);
}
.header_block1-center-text_block {
  width: 502px;
  height: 32px;
  margin-right: 20px;
}
.header_block1-center-text_block a {
    font-size: 14px;
    font-family: Helvetica_regular;
    text-align: center;
    text-decoration: none;
    color: var(--header1-text);
}
.header_block1-center-text_block a:hover {
    color: black;
}

.header_block1-center-drop_down_button {
  height: 32px;
  padding: 0;
  margin-right: 20px;
  inline-size: 100%;
  border: none;
  background-color: white;
}
.header_block1-center-drop_down_button:active {
  background-color: var(--highlight-grey);
}
.h1_menu_icon {
  width: 20px;
  height: 20px;
  fill: var(--header1-text);
}
.h1_show_icon {
  width: 10px;
  height: 8px;
  fill: var(--header1-text);
}

/*Header 2*/
.header_block2 {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo_image {
  width: 74px;
  height: 50px;
}

.h2_social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
}
.h2_social_icon_circle {
  fill: var(--button-grey);
}
.h2_social_icon:hover .h2_social_icon_circle{
  fill: black;
}

.h2_other_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 50px;
}
.h2_other_icons * {
  height: 25px;
}
.h2_other_active_icon {
  fill: var(--button-grey);
}
.h2_other_active_icon:hover{
  fill: #646464;
}
.h2_phone_block {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2_phone_icon {
  width: 25px;
}
.h2_phone_block p {
  font-size: 16px;
  font-family: Helvetica_bold;
  text-align: center;
  text-decoration: none;
  color: var(--dark-grey);
}
.h2_phone_block p:hover {
  color: var(--button-grey);
}

/*Header 3*/
.header_block3 {
  background-color: black;
  height: 60px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 0px;
}
.h3_navigation_blocks {
  flex-shrink: 0; /*для того, чтобы элементы не изменялись при уменьшении размеров*/
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.h3_navigation_blocks:hover {
  background-color: var(--dark-grey);
}
.h3_catalog_button {
  width: 240px;
}
.h3_navigation_blocks_icon {
  width: 20px;
  height: 20px;
  fill: var(--header-icon-gray);
  margin: 5px;
}
.h3_navigation_blocks_text {
  font-size: 18px;
  font-family: Museo_sans;
  text-align: center;
  text-decoration: none;
  color: white;  
}

.h3_search_block {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9; /*заливка*/
  border-radius: 10px;
}
.h3_search_block input {
  width: 100%;
  height: 25px;
  margin: 10px;
  border: none;
  outline: none;
  color: var(--icon-grey); /*текст*/
  background-color: #d9d9d9; /*заливка*/
}
.h3_search_block svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition-duration: 200ms; /*для плавного увеличения иконки*/
  transition-timing-function: ease;
}
.h3_search_block:hover input {
  background-color: white;
}
.h3_search_block:hover {
  background-color: white;
}
.h3_search_block svg:hover {
  transform: scale(1.1);
}



/*---------------------------------------Footer blocks------------------------------------------*/
.footer *{
  background-color: black;
}
.footer_block1 {
  display: flex;
  justify-content: space-between;
  height: 305px;
  padding-left: 10px;
  padding-right: 10px;
}
.f1_text_blocks {
  display: flex;
  flex-direction: column; /*Чтобы ссылки не перекрывали заголовки*/
  padding: 5px;
  width: 225px;
  height: 290px;
}
.f1_text_blocks h1 {
  padding-top: 30px;
  height: 20px;
  font-size: 18px;
  font-family: Museo_sans;
  text-align: left;
  text-decoration: none;
  color: white;
}
.f1_text_blocks a {
  font-size: 14px;
  font-family: Helvetica_regular;
  text-align: left;
  text-decoration: none;
  color: var(--button-grey);
  padding-top: 15px;
}
.f1_text_blocks a:hover {
  color: var(--highlight-grey);
}

.footer_block2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer_block2 p {
  height: 14px;
  font-size: 14px;
  font-family: Helvetica_regular;
  text-align: left;
  text-decoration: none;
  color: var(--button-grey);
}
.f2_icons_block {
  height: 45px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.footer_block3 {
  font-size: 14px;
  font-family: Helvetica_regular;
  text-align: left;
  text-decoration: none;
  color: var(--button-grey);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}



/*---------------------------------------Main page blocks------------------------------------------*/
.main_page_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m1_banners_block {
  width: 100%;
  height: 100%;
  max-height: 550px;
  min-height: 150px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.m1_banners_block img {
  width: 100%;
  max-width: 1460px;
  position: relative;
  animation: m1_banner_swap 30s linear infinite;
}
@keyframes m1_banner_swap {
  0% {
    opacity: 1;
    content: url("/images/Баннеры/10_акции_шир__1_.png");
  }
  25% {
    opacity: 0;    
  }
  50% {
    opacity: 1;
    content: url("/images/Баннеры/tournament_banner.jpg");
  }
  75% {
    opacity: 0;
  }
}

.m2_fractions_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100%;
  width: 100%;
  max-width: 1460px;
  padding: 20px;
}

.m2_fractions_button_Imperium { grid-area: 1 / 1 / 2 / 2; }
.m2_fractions_button_Xenos { grid-area: 1 / 2 / 2 / 3; }
.m2_fractions_button_Chaos { grid-area: 1 / 3 / 2 / 4; }
.m2_fractions_button_Necromunda { grid-area: 1 / 4 / 2 / 5; }
.m2_fractions_button_Order { grid-area: 2 / 1 / 3 / 2; }
.m2_fractions_button_Death { grid-area: 2 / 2 / 3 / 3; }
.m2_fractions_button_Chaos_allyans { grid-area: 2 / 3 / 3 / 4; }
.m2_fractions_button_Destruction { grid-area: 2 / 4 / 3 / 5; }

.m2_fractions_button {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  max-width: 320px;
  max-height: 230px;
  background-color: var(--grey-banner);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m2_fractions_button img {
  height: 154px;
  width: 216px;
  transition-duration: 200ms; /*для плавного увеличения иконки*/
  transition-timing-function: ease;
}
.m2_fractions_button p {
  font-size: 16px;
  font-family: Helvetica_regular;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
.m2_fractions_button:hover img {
  transform: scale(1.1);
}


.m7_banners_block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  max-width: 1460px;
}
.m7_banner {
  background-color: var(--grey-banner);
  width: 470px;
  height: 140px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.m7_banner h1 {
  height: 30px;
  width: 100%;
  font-size: 24px;
  font-family: Museo_sans;
  text-align: center;
  text-decoration: none;
  color: black;
}
.m7_banner p {
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-family: Helvetica_regular;
  text-align: center;
  text-decoration: none;
  color: var(--button-grey);
}
#m7_subscribe_input_field {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#m7_subscribe_input_field input {
  width: 100%;
  height: 40px;
  margin: 10px;
  border: none;
  outline: none;
  color: var(--button-grey); /*текст*/
  background-color: white;
  border-radius: 36px;
}
#m7_subscribe_input_field a {
  width: 120px;
  height: 30px;
  font-size: 13px;
  font-family: Helvetica_regular;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  background-color: black;
  border-radius: 36px;
}
#m7_subscribe_input_field a:hover {
  background-color: var(--dark-grey);
}


@media (min-width: 980px) {
  /*---------------------------------------Header blocks------------------------------------------*/
  .header_block1-center-text_block {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
  }
  .header_block1-center-drop_down_button {
    display: none;
  }
}
@media (max-width: 980px) {
  /*---------------------------------------Header------------------------------------------*/
  .header_block1-center-text_block {
    display: none;
  }
  .header_block1-center-drop_down_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h2_social_icons {
    display: none;
  }

  /*---------------------------------------Footer------------------------------------------*/
  .footer_block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
  }
  .f1_text_blocks {
    height: 100%;
  }

  /*---------------------------------------Main page------------------------------------------*/
  .m2_fractions_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .m2_fractions_button_Imperium { grid-area: 1 / 1 / 2 / 2; }
  .m2_fractions_button_Xenos { grid-area: 1 / 2 / 2 / 3; }
  .m2_fractions_button_Chaos { grid-area: 2 / 1 / 3 / 2; }
  .m2_fractions_button_Necromunda { grid-area: 2 / 2 / 3 / 3; }
  .m2_fractions_button_Order { grid-area: 3 / 1 / 4 / 2; }
  .m2_fractions_button_Death { grid-area: 3 / 2 / 4 / 3; }
  .m2_fractions_button_Chaos_allyans { grid-area: 4 / 1 / 5 / 2; }
  .m2_fractions_button_Destruction { grid-area: 4 / 2 / 5 / 3; }
}
@media (max-width: 780px) {
  /*---------------------------------------Header------------------------------------------*/
  .h2_other_icons {
    width: 140px;
  }
  .h2_phone_block p{
    display: none;
  }
  .h2_phone_menu_show_icon {
    display: none;
  }

  .h3_show_icon {
    display: none;
  }
  .h3_navigation_blocks_text {
    display: none;
  }
  .h3_navigation_blocks {
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  /*---------------------------------------Footer------------------------------------------*/
  .footer_block2 {
    height: 75px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
  }

  /*---------------------------------------Main page------------------------------------------*/
}
@media (max-width: 400px) {
  /*---------------------------------------Main page------------------------------------------*/
  .m2_fractions_button img {
    height: 107.32px;
    width: 150px;
  }
}